// ######### SHAFITEK GLOBAL VARIABLES BEGIN #########

$bgcolor: #fff;
$altcolor: #000;
$fgcolor: #cd2653;

$nav-link-color: #fff;
$nav-accent: #fff;
$nav-menu-bg: #000;

$font-primary: 'Inconsolata', monospace;
$font-secondary: Arial, Helvetica, sans-serif;
$font-alt: "Dancing Script", cursive;
$font-alt-2: "Coda", cursive;
$header-height: 100px;
$st-logo: url("../images/st-logo192.png");
$st-nav-logo-size: 192px;
$nav-width: 250px;
$max-content-width: 960px;
$max-portf-img-size: 1280px;

$screen-sm: 768px;

// ######### SHAFITEK GLOBAL VARIABLES END #########

html {
  height: 100vh;
}

body {
  color: $altcolor;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8rem;
}

a,
a:hover,
a:active {
  color: $fgcolor;
}

.st-wrapper {
  padding-left: 250px;
  position: relative;
  min-height: 100vh;
  z-index: 1;

  @media only screen and (max-width: $screen-sm) {
    padding-left: 0;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-alt-2;
}

h5 {
  font-size: 1.1rem;
}

code {
  font-family: $font-primary;
  font-size: 16px;
}

.card {
  background-color: $bgcolor;
  border-color: $fgcolor;
  border-radius: 5px;
  border: none;
}

.st-wallpaper {
  position: fixed;
  top: 0;
  margin-top: 0px;
  width: calc(100% - #{$nav-width});
  height: 100vh;

  background-image: url("../images/grid.png");
  background-repeat: repeat;

  @media only screen and (max-width: $screen-sm) {
    width: 100%;
  }
}

.st-content {
  position: relative;
  display: block;
  padding: 10px;
  top: 1rem;
  margin-top: 0px;
  // min-width: 100vw - #{$nav-width};
  width: 100vw - #{$nav-width};
  min-height: 95vh;
  @media only screen and (max-width: $screen-sm) {
    min-width: 100%;
    margin-top: 0;
    top: $header-height;
  }
  overflow-x: hidden;
  font-family: $font-secondary;
}

.st-content-center {
  position: relative;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
  min-height: inherit;
}

.head-dash-line {
  position: relative;
  width: 100%;
  border-top: 1px solid $altcolor;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#particles-js {
  width: 100%;
  height: 100%;
}

.card .card-columns {
  margin-bottom: 1.5rem;
}

.card-columns {
  column-count: 2;
  @media only screen and (max-width: 1620px) {
    column-count: 1;
  }
}

.category-link {
  // margin-bottom: 2rem;
  display: inline;
  margin: 2.5rem 1.5rem 2.5rem 0;

  a {
    color: $bgcolor;
  }

  h5 {
    background-color: rgba($color: $altcolor, $alpha: 1);
    padding: 1rem;
    border-radius: 3px;
  }
}

.see-all-categories {
  position: relative;
  right: 0px;
  font-weight: bolder;
  font-family: $font-secondary;
  padding: 0.25rem;
  color: $bgcolor;
  background-color: $fgcolor;
  border-radius: 2px;
  margin-bottom: 1rem;

  &:hover {
    color: $bgcolor;
  }
}

.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
