.contact-page {
  margin-top: 0rem;
  // text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: $font-primary;
  padding: 2rem;

  .contact-email {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: bolder;
    color: $fgcolor;
    font-size: 2rem;
    white-space: nowrap;

    @media only screen and (max-width: 860px) {
      font-size: 1.2rem;
    }
  }
}
