
.error-500-component {
  position: relative;
  width: 100%;
  padding: 1rem;
  min-height: 300px;
}
.error-500-text {
    margin-top: 4rem;
  position: relative;
  font-weight: 900;
  font-size: 7rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.error-text {
    position: relative;
  text-align: center;
  color: $altcolor;
  font-weight: 900;
  letter-spacing: 0.2rem;
  margin-top: 4rem;
}
