
.st-portfolio-project {
  margin-bottom: 1.5rem;
  // border: 1px solid $altcolor;
  padding: 0.8rem;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;

  h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;

    .github-link {
      position: relative;
      left: 1rem;
      color: $fgcolor;
    }
  }
}

.st-portfolio-project-inner {
  max-width: $max-portf-img-size;
}

.st-portfolio-project-image {
  max-width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.st-portfolio-project-excerpt {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
