@import "~bootstrap/scss/bootstrap";

// ######### SHAFITEK GLOBAL VARIABLES BEGIN #########

$bgcolor: #fff;
$fgcolor: #cd2653;
$navcolor: $fgcolor;
$nav-link-color: #fff;
$nav-accent: #fff;
$defcolor: #000;
$nav-menu-bg: #000;
$white: #fff;
$font-primary: "Lucida Console", Monaco, monospace;
$header-height: 100px;
$st-logo: url("../images/st-logo192.png");
$st-nav-logo-size: 192px;
$menu-width: 250px;

$screen-sm: 768px;

// ######### SHAFITEK GLOBAL VARIABLES END #########

body {
  background: $bgcolor;
  color: $defcolor;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8rem;
}

a,
a:hover,
a:active {
  color: $fgcolor;
}

.st-wrapper {
  padding-left: 250px;
  position: relative;
  min-height: 100vh;
  z-index: 1;

  @media only screen and (max-width: $screen-sm) {
    padding-left: 0;
  }
}

.st-content {
  position: relative;
  top: 0;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}